<div class="container">
  <app-lista
    [listaDeEventos]='listaDeEventos'
    (adicionarEvento)='adicionarEvento($event)'
    (removerEvento)='removerEvento($event)'>
  </app-lista>



  <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
    <div *cdkVirtualFor="let item of photos;"
      class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="item.thumbnailUrl" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>